{% extends 'base.html.twig' %}

{% block title %}Invoice{% endblock %}

{% block body %}
    <div class="inv-global-container">
        <div class="inv-show-container">
            <h1 class="inv-show-title">Invoice</h1>

            <table class="inv-show-table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ invoice.id }}</td>
                    </tr>
                    <tr>
                        <th>Invoice Number</th>
                        <td>{{ invoice.invoiceNumber }}</td>
                    </tr>
                    <tr>
                        <th>Issue Date</th>
                        <td>{{ invoice.issueDate ? invoice.issueDate|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Due Date</th>
                        <td>{{ invoice.dueDate ? invoice.dueDate|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Amount</th>
                        <td>{{ invoice.amount }}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>{{ invoice.status }}</td>
                    </tr>
                    <tr>
                        <th>Created At</th>
                        <td>{{ invoice.createdAt ? invoice.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Updated At</th>
                        <td>{{ invoice.updatedAt ? invoice.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                </tbody>
            </table>

            <a href="{{ path('app_invoice_index') }}" class="inv-show-back-link">Back to list</a>
            <a href="{{ path('app_invoice_edit', {'id': invoice.id}) }}" class="inv-show-edit-link">Edit</a>

            {{ include('invoice/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
