{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<body class="login-body">
    <div class="login-container">
        <form method="post" class="sign-in-form">
            {% if error %}
                <div class="login-alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="login-user-info">
                    Vous êtes connecté en tant que {{ app.user.userIdentifier }}.<br>
                    <a href="{{ path('app_logout') }}" class="login-logout-link">Se déconnecter</a>
                </div>
            {% endif %}

            <h1 class="h1-login">Connexion</h1>
            <label class="login-label" for="username">Adresse mail</label>
            <input type="email" value="{{ last_username }}" name="_username" id="username" class="login-input" autocomplete="email" required autofocus>
            <label class="login-label" for="password">Mot de passe</label>
            <input type="password" name="_password" id="password" class="login-input" autocomplete="current-password" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="login-sign-in-btn" type="submit">
                Se connecter
            </button>
        </form>
    </div>
</body>
{% endblock %}
