{% extends 'base.html.twig' %}

{% block body %}
    <div class="register-background">
        <div class="register-container">
            <h1>S'enregistrer</h1>

            {{ form_start(registrationForm) }}
                <div class="form-group">
                    {{ form_label(registrationForm.email) }}
                    {{ form_widget(registrationForm.email, { attr: {'class': 'form-control'} }) }}
                    <div class="text-danger">
                        {{ form_errors(registrationForm.email) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(registrationForm.roles) }}
                    <div class="checkbox-group">
                        {{ form_widget(registrationForm.roles) }}
                    </div>
                    <div class="text-danger">
                        {{ form_errors(registrationForm.roles) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(registrationForm.plainPassword) }}
                    {{ form_widget(registrationForm.plainPassword, { attr: {'class': 'form-control'} }) }}
                    <div class="text-danger">
                        {{ form_errors(registrationForm.plainPassword) }}
                    </div>
                </div>

                <button type="submit" class="register-btn">S'enregistrer</button>
            {{ form_end(registrationForm) }}

            <div class="register-card-info">
                <p>Déjà un compte ? <a href="{{ path('app_login') }}">Connectez-vous ici</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
