{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="register-body">
    <div class="register-container">
        <div class="register-form">
            <h1 class="register-h1">Register</h1>

            <div class="register-errors">
                {{ form_errors(registrationForm) }}
            </div>

            {{ form_start(registrationForm) }}
                <div class="register-field">
                    {{ form_label(registrationForm.email) }}
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'register-input'}}) }}
                </div>
                <div class="register-field">
                    {{ form_label(registrationForm.plainPassword, 'Password') }}
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'register-input'}}) }}
                </div>
                <div class="register-checkbox">
                    {{ form_widget(registrationForm.agreeTerms) }}
                    {{ form_label(registrationForm.agreeTerms) }}
                </div>

                <button type="submit" class="register-btn">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>
{% endblock %}
