{% extends 'base.html.twig' %}

{% block title %}Edit Company{% endblock %}

{% block body %}
<div class="edit-company-container">
    <h1 class="company-main-title">Edit Company</h1>
    <div class="company-form-container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="company-nav-links">
            <button type="submit" class="company-btn company-btn-primary">Update</button>
            <a class="company-btn company-btn-secondary" href="{{ path('app_company_index') }}">Back to list</a>
            {{ include('company/_delete_form.html.twig') }}
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
